.hoteldetailpage .contentbase .gallery-right {
	display: grid;
	background: white;
	padding: .5em 1em 1em;
}

.package-onlyhotel-switch {
	order: -1;
    display: flex;
    align-items: center;
	background: #f1f7fc;
	margin: -.5em -1em 0;
    &.yet-not-defined {
        display: none!important;
    }
    >* {
        flex: 1;
		text-align: center;
		border-radius: .75em .75em 0 0;
		padding: .75em 1em;
        &.package {

        }
        &.onlyhotel {

        }
        &[href] {
            //color: black!important;
			background: #DAEAF7;
			margin-left: 1em;
			margin-right: 1em;
        }
        &:not([href]) {
            pointer-events: none;
			background: white;
        }
    }
}