<div class="ant-space-item longterm-price-calendar">
    <h2>Календарь цен</h2>
    <div class="pricing-chart-combo">
        <div class="pricing-chart"></div>
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <ul class="pricing-chart-legend">
        <li data-icon="desired-date">Выбранная дата</li>
        <li data-icon="best-price">Лучшая цена</li>
    </ul>
</div>