@mobile-breakpoint: 768px;
@narrow-breakpoint: 576px;

.ant-space-item.longterm-price-calendar {
    margin-bottom: 1em;

	.heading {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		margin-bottom: 12px;
	}

    h2 {
		line-height: 1;
		margin: 0;
    }

    .pricing-chart-legend {
        //width: 100%;
        display: flex;
        justify-content: flex-end;
        list-style: none;
        font-size: 12px;
        line-height: 1;
        padding: 0 1.5em;
		@media screen and (max-width: @mobile-breakpoint) {
		    display: none;
		}
        >li {
            display: inline-flex;
            align-items: center;
            &:before {
                content: '';
                margin-right: .5em;
                width: 1.2em;
                height: 1.2em;
                background: center / cover no-repeat;
            }
            &[data-icon="desired-date"]:before {
                background-image: url("data-url:/price-calendar/coral/assets-inline/icon-desired.svg");
            }
            &[data-icon="best-price"]:before {
                background-image: url("data-url:/price-calendar/coral/assets-inline/icon-star.svg");
            }
            &:nth-of-type(n+2) {
                margin-left: 2em;
                padding-left: 2em;
                border-left: 1px solid fade(black, 6%);
            }
        }
    }

    .pricing-chart-combo {
        position: relative;
        z-index: 0;
        background-color: white;
        border-radius: 1em;
        padding: 1em 0;
		@media screen and (max-width: @mobile-breakpoint) {
		    display: none;
		}
        .pricing-chart {
            position: absolute;
            z-index: -1;
            inset: 1em 0;
            margin-left: (100%/14);
            .ct-series-a {
                .ct-line {
                    fill: none;
                    stroke: #E5F7FF;
                    stroke-width: 2px;
                }
                .ct-point {
                    fill: none;
                    stroke: #99E0FF;
                    stroke-width: 8px;
                    stroke-linecap: round;
                }
            }
            .ct-labels {
                text-align: center;
            }
            .ct-label.ct-horizontal.ct-end {
                display: block;
                transform: translateX(-50%);
                font-size: 12px;
            }

            .calendar-offer-value {
                display: flex;
                justify-content: center;
                transform: translateY(-150%);
				font-size: 16px;
                @media screen and (max-width: 1530px) {
                    font-size: 1.1vw;
                }
				span.no-offers {
					font-size: (12/16em);
				}
            }

        }

        ul {
            box-sizing: border-box;
            * {
                box-sizing: border-box;
            }
            width: 100%;
            display: flex;
            justify-content: center;
            padding: 0 7%;
            overflow: auto;
            list-style: none;
            >li {
                //border: 1px solid fade(black, 33%);
                position: relative;
                flex: 0 0 (100%/7);
                height: 10em;
                display: grid;
                place-content: center;
                >a {
                    //background: fade(black, 10%);
                    position: absolute;
                    inset: 0;
                }

            }
        }

    }

	.pricing-table {
		--price-fill-generic: fade(#bbb, 30%);
		--price-selected: #0092D0;
		--price-fill-selected: fade(#0092D0, 30%);
		--price-best: #389E0D;
		--price-fill-best: fade(#B7EB8F, 50%);

		display: none;
		width: 100%;
		@media screen and (max-width: @mobile-breakpoint) {
			display: table;
			border-spacing: 0 .5em;
		}

		> a {
			display: table-row;
			border-radius: 1em;
			color: inherit;
			text-decoration: none;
			line-height: 1;

			> span {
				--radius: .7em;
				display: table-cell;
				padding: 1em;
				background-color: #fff;
				&.price-cell {
					position: relative;
					z-index: 0;
					border-radius: var(--radius) 0 0 var(--radius);
					.filler {
						--fill: var(--price-fill-generic);
						position: absolute;
						z-index: -1;
						left: 0;
						top: 0;
						height: 100%;
						border-radius: var(--radius);
						background: var(--fill);
						transition: width .5s;
					}
					.loader {
						position: absolute;
						left: 50%;
						top: 50%;
						transform: translate(-50%,-50%);
					}
				}
				&.date-cell {
					width: 1%;
					white-space: nowrap;
					border-radius: 0 var(--radius) var(--radius) 0;
					text-align: center;
				}
			}
		}
	}
	ul.pricing-table-legend {
		display: none;
		width: 100%;
		list-style: none;
		gap: 2em;
		line-height: 1;
		padding: 0;
		@media screen and (max-width: @mobile-breakpoint) {
			display: flex;
		}
		>li {
			display: inline-flex;
			align-items: center;
			&:before {
				content: '';
				margin-right: .5em;
				flex-shrink: 0;
				width: 1.2em;
				height: 1.2em;
				border-radius: .5em;
			}
			&[data-icon="desired-date"]:before {
				background: fade(#0092D0, 30%);
			}
			&[data-icon="best-price"]:before {
				background: fade(#B7EB8F, 50%);
			}
		}
	}

	.waiting {
		width: 32px;
		--b: 4px;
		aspect-ratio: 1;
		border-radius: 50%;
		padding: 1px;
		background: conic-gradient(#0000 10%,#99E0FF) content-box;
		-webkit-mask:
				repeating-conic-gradient(#0000 0deg,#000 1deg 20deg,#0000 21deg 36deg),
				radial-gradient(farthest-side,#0000 calc(100% - var(--b) - 1px),#000 calc(100% - var(--b)));
		-webkit-mask-composite: destination-in;
		mask-composite: intersect;
		animation: l4 1s infinite steps(10);
	}
	@keyframes l4 {to{transform: rotate(1turn)}}

}

