@wide-breakpoint: 1440px;
@mobile-breakpoint: 768px;
@narrow-breakpoint: 576px;

@content-padding: 35px;

.reset() {
	position: static;
	left: auto;
	top: auto;
	right: auto;
	bottom: auto;
	width: auto;
	height: auto;
	margin: 0;
	padding: 0;
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
	background: none;
}

.bbox() {
	&, & * {
		box-sizing: border-box;
	}
}

.interactive() {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	&:active {
		transform: translateY(2px);
	}
}


.abs100x100() {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.proportional(@width2height-ratio) {
	position: relative;
	&:before {
		content: '';
		display: block;
		padding-top: 1/@width2height-ratio * 100%;
	}
	& > * {
		.abs100x100;
	}
}

.transit(@what: all, @duration: 0.5s) {
	-webkit-transition+: @what @duration;
	-moz-transition+: @what @duration;
	-ms-transition+: @what @duration;
	-o-transition+: @what @duration;
	transition+: @what @duration;
}

.hidden-on-mobile() {
	@media screen and (max-width: @mobile-breakpoint) {
		display: none !important;
	}
}

.hidden-on-desktop() {
	@media screen and (min-width: (@mobile-breakpoint + 1)) {
		display: none !important;
	}
}

.fluid-fontsize(@fluid, @max-breakpoint: @wide-breakpoint) {
	font-size: @fluid;
	@media screen and (min-width: @max-breakpoint) {
		font-size: unit(unit(@fluid) * unit(@max-breakpoint) / 100, px);
	}
}

.rounded-corners-overflow-fix() {
	-webkit-mask-image: -webkit-radial-gradient(white, black);
}

.flex-column() {
	display: flex;
	flex-direction: column;
	> * {
		max-width: 100%;
	}
}

.flex-center() {
	display: flex;
	justify-content: center;
	align-items: center;
}

.unavailable-v3 {
	padding: 0!important;
	margin: 0!important;
}