@wide-breakpoint: 1439px;
@mid-breakpoint: 1199px;
@mobile-breakpoint: 1006px;
@narrow-breakpoint: 575px;

@coral-main-yellow: #F0AB00;
@coral-main-yellow-accent: #E27300;
@coral-main-blue: #0093D0;
@coral-main-blue-accent: #0067B5;
@coral-ramp-bg: linear-gradient(45.62deg, #FB7099 0%, #F0AB13 100%);
@coral-hero-title: #033870;
@coral-common-black: #000000;
@coral-common-white: #FFFFFF;
@coral-grey: #777777;
@coral-grey-accent: #777777;
@coral-page-bg: #EAF3FB;
@coral-href: #1EBDFF;
@coral-green-accent: #8ACB00;
@coral-green-lite: #D0EA99;
@coral-yellow-lite: #EFD48F;
@coral-red-error: #FF3333;
@coral-red-warn: #FFDCDC;

@coralbonus-ramp: linear-gradient(37.53deg, #209CFF 1.18%, #68E0CF 86.66%);

@font-face {
	font-family: 'OtiumFeatures';
	src: url('data-url:/otium-hotel/coral/src/inline-assets/otium-features.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

.abs100x100() {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.transit(@what: all, @duration: 0.5s) {
	transition+: @what @duration;
}

.proportional(@width2height-ratio) {
	position: relative;
	&:before {
		content: '';
		display: block;
		padding-top: (1/@width2height-ratio) * 100%;
	}
	& > * {
		.abs100x100;
	}
}

.interactive() {
	user-select: none;
	&:active {
		transform: translateY(2px);
	}
}

.rounded-ramp-border(@ramp; @thickness; @radius) {
	position: relative;
	border-radius: @radius - (@thickness / 2);
	&:after {
		content: '';
		position: absolute;
		inset: 0;
		background: @ramp;
		padding: @thickness;
		border-radius: @radius;
		mask: linear-gradient(white 0 0) content-box, linear-gradient(white 0 0);
		-webkit-mask: linear-gradient(white 0 0) content-box, linear-gradient(white 0 0);
		-webkit-mask-composite: xor;
		mask-composite: exclude;
	}
}

.button-cell() {
	.interactive();
	outline: none;
	height: (48/14em);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	cursor: pointer;
	box-shadow: 2px 6px 8px fade(black, 5%);
	border: 0;
	line-height: 1;
}

section.otium-hotel {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 2fr 1fr;
	max-width: 1370px;
	margin: auto;
	color: black;
	.tools-shortcuts {
		background: #fed;
		border: 1px solid #000;
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
	}
	.visuals-gallery {
		position: relative;
		filter: drop-shadow(0 4px 16px fade(black, 15%));
	}
	.hotel-name-location {
		z-index: 1;
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		font-size: 14px;
		font-weight: normal;
		padding: 0 8px;
		.stars {
			font-family: "Material Icons";
			font-size: 20px;
			line-height: 1;
			color: @coral-main-yellow;
		}
		.elite-service {
			.proportional(140/18);
			width: 15em;
			background: url("data-url:/otium-hotel/coral/src/inline-assets/elite-service-icon-right.svg") center / contain no-repeat;
			margin-left: auto;
		}
		h1.name {
			width: 100%;
			line-height: 1.2;
			margin: 0.38em 0;
		}
		button.show-on-map {
			.interactive();
			outline: none;
			display: inline-flex;
			align-items: center;
			font-size: 10px;
			background: none;
			border: 1px solid #DCDCDC;
			padding: 0 1em 0 0.5em;
			margin-left: 1em;
			cursor: pointer;
			&:before {
				content: 'place';
				font-family: "Material Icons";
				font-size: 1.5em;
				margin-right: .25em;
			}
		}
	}
	.reviews-info {
		align-self: flex-end;
		background: white;
		border-radius: 20px;
		font-size: 14px;
		font-weight: normal;
		color: black;
		padding: 1.5em;
		&:empty {
			background: none;
		}
		[data-provider='tripadvisor'] {
			.interactive();
			display: flex;
			align-items: baseline;
			cursor: pointer;

			.rate-comp {
				display: flex;

				.rate-value {
					color: #01A451;
					font-weight: bold;
					margin-right: 1ch;
				}
			}

			.count-comp {
				margin-left: auto;
				font-weight: normal;
			}
		}
		[data-provider='tophotels.ru'] {
			display: flex;
			align-items: baseline;
			.rate-comp {
				display: flex;
				.value {
					margin: 0 .2em;
					color: #01A451;
				}
				.logo {
					width: 1.62em;
					height: (18/24) * 1.62em;
					background: url("data-url:/otium-hotel/coral/src/inline-assets/logo-tophotels.svg") center / cover no-repeat;
				}
			}
			.count-comp {
				margin-left: auto;
				font-weight: normal;
			}
		}
	}

	[data-module='hotelgallery'] {
		.proportional(16/9);
		.hotelgallery-wrap {
			.gallery-layout {
				border-radius: 20px;
			}
			.thumbs {
				border-radius: 0 0 20px 20px;
			}
		}
	}

	.about-pricing-etc {
		display: grid;
		grid-template-columns: 3fr 2fr;
		//grid-template-rows: repeat(auto-fit, minmax(1em, max-content));
		grid-gap: 20px;
		.pricing-cell {
			display: flex;
			flex-wrap: wrap;
			align-items: baseline;
			font-size: 12px;
			.from {

			}
			.original-price {
				position: relative;
				font-size: (18/12em);
				padding-left: .5em;
				color: #768092;
				&:after {
					content: '';
					.abs100x100();
					background: url("data-url:/otium-hotel/coral/src/inline-assets/price-strike-over.svg") 33% / 80% no-repeat;
					filter: drop-shadow(1px 1px 2px fade(black, 33%));
				}
			}
			.final-price {
				width: 100%;
				color: @coral-main-yellow;
				> * {
					font-size: (40/12em);
				}
				.decorated-price.lots-of-money {
					.cents {
						display: none;
					}
				}
			}
			.additives {
				display: flex;
				flex-direction: column;
				font-size: 12px;
				font-weight: normal;
				line-height: 1.2;
				cursor: default;
				@media screen and (max-width: @mobile-breakpoint) {
					font-size: .85em;
					width: auto;
				}
				>em {
					margin-top: .5em;
					font-style: normal;
					color: @coral-main-blue;
					font-weight: bold;
					//text-transform: uppercase;
				}
				.mandatories {
					display: flex;
					align-items: flex-end;
					&:after {
						font-family: "Header Fontello";
						content: '';
						font-size: 1.2em;
						color: @coral-main-yellow;
						margin-left: .5em;
					}
					>strong {
						white-space: nowrap;
						font-size: (14/12em);
						margin: 0 .2em;
					}
				}
			}
		}
		.coralbonus-cell {
			align-self: start;
			.coralbonus-badge {
				display: inline-grid;
				grid-auto-flow: column dense;
				grid-gap: 1em;
				padding: 1em 1em;
				align-items: center;
				cursor: pointer;
				background: white;
				font-size: 12px;
				.rounded-ramp-border(@ramp: @coralbonus-ramp, @thickness: 2px, @radius: 4px);
				.value-box {
					background: @coralbonus-ramp;
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
					background-clip: text;
					text-fill-color: transparent;
					.value {
						display: inline;
						align-items: center;
						font-size: 2.4em;
						line-height: 1;
						white-space: nowrap;
						&:after {
							content: '';
							display: inline-block;
							width: .62em;
							height: (15/12) * .62em;
							margin-left: .3em;
							background: url("data-url:/otium-hotel/coral/src/inline-assets/coralbonus-sym.svg") center / contain no-repeat;
						}
					}
				}
				.label {
					line-height: 1.2;
				}
			}
		}

		.installment-cell {
			align-self: start;
			padding-top: .3em;
			display: flex;
			align-items: center;
			line-height: 1.2;
			font-size: 13px;
			font-weight: normal;
			cursor: default;
			@media screen and (max-width: @narrow-breakpoint) {
				font-size: .9em;
			}
			&:before {
				flex-shrink: 0;
				content: '';
				width: 2.3em;
				height: 2.3em;
				margin-right: .6em;
				background: url("data-url:../inline-assets/icon-percent.svg") center / cover no-repeat;
			}
			.monthly {
				font-weight: bold;
			}
		}

		.early-booking-cell {
			.early-booking-promo {
				width: 100%;
				display: flex;
				flex-direction: column;
				font-size: 12px;
				.banner {
					width: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					text-align: center;
					height: 40px;
					border-radius: 4px;
					background: var(--coral-main-gradient, linear-gradient(45deg, #FB7099 0%, #F0AB13 100%));
					box-shadow: 0 6px 10px rgba(250, 119, 138, 0.15);
					color: white;
				}
				.terms {
					font-weight: normal;
					font-size: (10/12em);
					margin-top: 1em;
				}
			}
		}

		.hotel-info-cell {
			grid-column: span 2;
			font-size: 12px;
			.heading {
				font-size: 1.2em;
				margin-bottom: .5em;
			}
			.about-snip {
				font-weight: normal;
				line-height: 1.3;
				p {
					margin-bottom: 0;
				}
			}
		}

		.usps-cell {
			grid-column: span 2;
			.usps {
				width: 100%;
				display: grid;
				grid-auto-flow: column dense;
				grid-gap: 1em;
				font-size: 12px;
				@media screen and (max-width: 700px) {
					display: grid;
					grid-template-columns: 1fr 1fr;
					gap: 1em;
				}
				@media screen and (max-width: @narrow-breakpoint) {
					display: flex;
				}
				>*{
					display: flex;
					flex-direction: column;
					align-items: center;
					text-align: center;
					cursor: pointer;
					&:hover .icon {
						color: @coral-main-yellow-accent;
					}
					.icon {
						font-family: OtiumFeatures;
						font-size: (32/12em);
						line-height: 1;
						background-position: center;
						background-size: contain;
						background-repeat: no-repeat;
						.transit(color);
						&:before {
							content: attr(data-icon);
						}
						@media screen and (max-width: 1100px) {
							font-size: 2em;
						}
						@media screen and (max-width: @narrow-breakpoint) {
							font-size: 2.2em;
						}
					}
					.label {
						font-weight: normal;
						line-height: 1.1;
						padding: 0 .2em;
						margin-top: .5em;
						@media screen and (max-width: @wide-breakpoint) {
							display: none;
						}
						@media screen and (max-width: @mobile-breakpoint) {
							display: unset;
						}
						@media screen and (max-width: @narrow-breakpoint) {
							font-size: .8em;
						}
					}
				}
			}
		}

		.more-about-hote-cell {
			.button-cell();
			background: white;
		}

		.choose-room-cell {
			.button-cell();
			//background: @coral-main-blue;
			background: @coral-main-yellow;
			color: white;
			font-weight: bold;
			box-shadow: 2px 6px 20px 0px rgba(3, 56, 112, 0.15), 2px 6px 10px 0px rgba(255, 255, 255, 0.20) inset;
			text-transform: uppercase;
			&:after {
				content: 'arrow_forward_ios';
				font-family: "Material Icons";
				font-size: 1.5em;
				margin-left: .25em;
				text-transform: none;
			}
		}

	}

}

.badges-stack {
	position: absolute;
	left: 0;
	top: 0;
	min-width: 7em;
	display: grid;
	grid-gap: 16px;
	padding-top: 2em;
	filter: drop-shadow(0px 2px 4px fade(black, 15%));
	.badge {
		position: relative;
		border-radius: 0 5px 5px 0;
		&:after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			border-style: solid;
			border-width: 0 6px 6px 6px;
			border-color: transparent transparent black transparent;
			transform: rotate(45deg);
			transform-origin: left bottom;
			filter: saturate(0.5) brightness(0.5);
		}
		&.exclusive {
			background: @coral-ramp-bg;
			font-size: 14px;
			letter-spacing: .15em;
			font-weight: normal;
			line-height: 1;
			color: white;
			padding: .7em 1.5em;
			&:after {
				border-bottom-color: #FB7099;
			}
		}
		&.sfc {
			display: block;
			background: white url("data-url:/otium-hotel/coral/src/inline-assets/logo-sfc-normal.svg") center / auto 80% no-repeat;
			min-height: 5em;
			&:after {
				border-bottom-color: white;
			}
		}
		&.usfc {
			display: block;
			background: white url("https://cdn.coral.ru/content/insider/russia/otium-hotels/logo-usfc-normal.png") center / auto 80% no-repeat;
			min-height: 5em;
			&:after {
				border-bottom-color: white;
			}
		}
	}
}

// hide SFC/USFC old-style badges
.gallery-layout > div {
	display: none!important;
}

@media screen and (min-width: 1007px) {
	[data-module="searchtabsmain"] {
		min-height: 119px;
	}
}

@import "otium-tooltip";
@import "eliteservice-popover";
@import "decorated-price";
@import "coralbonus-popover";
@import "additives-popover";
@import "installment-info-popover";