@coral-main-yellow: #F0AB00;
@coral-main-yellow-accent: #E27300;
@coral-main-blue: #0093D0;
@coral-main-blue-accent: #0067B5;
@coral-ramp-bg: linear-gradient(45.62deg, #FB7099 0%, #F0AB13 100%);
@coral-hero-title: #033870;
@coral-common-black: #000000;
@coral-common-white: #FFFFFF;
@coral-grey: #777777;
@coral-grey-accent: #777777;
@coral-page-bg: #EAF3FB;
@coral-href: #1EBDFF;
@coral-green-accent: #8ACB00;
@coral-green-lite: #D0EA99;
@coral-yellow-lite: #EFD48F;
@coral-red-error: #FF3333;
@coral-red-warn: #FFDCDC;

.abs100x100() {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.proportional(@width2height-ratio) {
	position: relative;
	&:before {
		content: '';
		display: block;
		padding-top: (1/@width2height-ratio) * 100%;
	}
	& > * {
		.abs100x100;
	}
}

section.otium-hotel {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 2fr 1fr;
	max-width: 1370px;
	margin: auto;
	color: black;
	.visuals-gallery {
		position: relative;
		filter: drop-shadow(0 4px 16px fade(black, 15%));
	}
	.hotel-name-location {
		z-index: 1;
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		font-size: 14px;
		font-weight: normal;
		padding: 0 8px;
		.stars {
			font-family: "Material Icons";
			font-size: 20px;
			line-height: 1;
			color: @coral-main-yellow;
		}
		.elite-service {
			.proportional(140/18);
			width: 15em;
			background: url("data-url:/otium-hotel/coral/src/inline-assets/elite-service-icon-right.svg") center / contain no-repeat;
			margin-left: auto;
		}
		h1.name {
			width: 100%;
			line-height: 1.2;
			margin: 0.38em 0;
		}
		button.show-on-map {
			outline: none;
			display: inline-flex;
			align-items: center;
			font-size: 10px;
			background: none;
			border: 1px solid #DCDCDC;
			padding: 0 1em 0 0.5em;
			margin-left: 1em;
			&:before {
				content: 'place';
				font-family: "Material Icons";
				font-size: 1.5em;
				margin-right: .25em;
			}
		}
	}
	.reviews-info {
		align-self: flex-end;
		background: white;
		border-radius: 20px;
		font-size: 14px;
		font-weight: normal;
		color: black;
		padding: 1.5em;
		&:empty {
			background: none;
		}
		[data-provider='tripadvisor'] {
			display: flex;
			align-items: baseline;
			.rate-comp {
				display: flex;
				.rate-value {
					color: #01A451;
					font-weight: bold;
					margin-right: 1ch;
				}
			}
			.count-comp {
				margin-left: auto;
				font-weight: normal;
			}
		}
		[data-provider='tophotels.ru'] {
			display: flex;
			align-items: baseline;
			.rate-comp {
				display: flex;
				.value {
					margin: 0 .2em;
					color: #01A451;
				}
				.logo {
					width: 1.62em;
					height: (18/24) * 1.62em;
					background: url("data-url:/otium-hotel/coral/src/inline-assets/logo-tophotels.svg") center / cover no-repeat;
				}
			}
			.count-comp {
				margin-left: auto;
				font-weight: normal;
			}
		}
	}

	[data-module='hotelgallery'] {
		.proportional(16/9);
		.hotelgallery-wrap {
			.gallery-layout {
				border-radius: 20px;
			}
			.thumbs {
				border-radius: 0 0 20px 20px;
			}
		}
	}

}

.badges-stack {
	position: absolute;
	left: 0;
	top: 0;
	min-width: 7em;
	display: grid;
	grid-gap: 16px;
	padding-top: 2em;
	filter: drop-shadow(0px 2px 4px fade(black, 15%));
	.badge {
		position: relative;
		border-radius: 0 5px 5px 0;
		&:after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			border-style: solid;
			border-width: 0 6px 6px 6px;
			border-color: transparent transparent black transparent;
			transform: rotate(45deg);
			transform-origin: left bottom;
			filter: saturate(0.5) brightness(0.5);
		}
		&.exclusive {
			background: @coral-ramp-bg;
			font-size: 14px;
			letter-spacing: .15em;
			font-weight: normal;
			line-height: 1;
			color: white;
			padding: .7em 1.5em;
			&:after {
				border-bottom-color: #FB7099;
			}
		}
		&.sfc {
			display: block;
			background: white url("data-url:/otium-hotel/coral/src/inline-assets/logo-sfc-normal.svg") center / auto 80% no-repeat;
			min-height: 5em;
			&:after {
				border-bottom-color: white;
			}
		}
		&.usfc {
			display: block;
			background: white url("https://cdn.coral.ru/content/insider/russia/otium-hotels/logo-usfc-normal.png") center / auto 80% no-repeat;
			min-height: 5em;
			&:after {
				border-bottom-color: white;
			}
		}
	}
}

// hide SFC/USFC old-style badges
.gallery-layout > div {
	display: none!important;
}

@media screen and (min-width: 1007px) {
	[data-module="searchtabsmain"] {
		min-height: 119px;
	}
}

@import "eliteservice-popover";