.popover.sber {
	background: white;
	box-shadow: none;
	border-radius: 1em;
	border-color: white;
	filter: drop-shadow(0 2px 16px fade(black, 15%));
	.arrow:before {
		border-left-color: white;
	}
}
.installment-info-popover {
	background: white;
	font-size: 13px;
	color: black;
	line-height: 1.2;
	padding: .5em 1em;
	border-radius: 1em;
	.logo {
		width: 10em;
		height: (14/90) * 10em;
		background: url("data-url:/otium-hotel/coral/src/inline-assets/logo-sber.svg") center / contain no-repeat;
		margin-bottom: 1em;
	}
	.body {
		font-weight: normal;
		> strong {
			display: block;
			margin-bottom: .5em;
		}
		> p > * {
			display: flex;
			&:before {
				content: '-';
				margin-right: .5em;
			}
		}
		.note {
			font-style: italic;
			font-size: 11px;
			line-height: 1.1;
			>* {
				display: flex;
				&:before {
					flex-shrink: 0;
					content: attr(data-bullet);
					width: 1.5em;
					text-align: right;
					padding-right: .5em;
				}
			}
		}
	}
}

.bs-popover-auto[x-placement^="top"] .arrow.sber::before {
	border-left-color: transparent;
}
.bs-popover-auto[x-placement^="left"] .arrow.sber::before {
	border-left-color: white;
}
.bs-popover-auto[x-placement^="left"] .arrow.sber::after {
	content: none;
}
.bs-popover-auto[x-placement^="bottom"] .arrow.sber::before {
	content: none;
}
.bs-popover-auto[x-placement^="bottom"] .arrow.sber::after {
	border-bottom-color: white;
}