.popover.sber {
	//background: none;
	//box-shadow: none;
	//border-radius: 0;
}
.installment-info-popover {
	background: white;
	font-size: 13px;
	color: black;
	line-height: 1.2;
	padding: 1.5em 2em;
	border-radius: 1em;
	.logo {
		width: 10em;
		height: (14/90) * 10em;
		background: url("data-url:/otium-hotel/coral/src/inline-assets/logo-sber.svg") center / contain no-repeat;
		margin-bottom: 1em;
	}
	.body {
		font-weight: normal;
		.note {
			font-style: italic;
			font-size: 11px;
			line-height: 1.1;
		}
	}
}