@item-width: 20px;

@instant: fade(@coral-green-accent, 30%);
@confirm: fade(@coral-main-yellow, 30%);
@unavailable: fade(@coral-red-error, 30%);

price-calendar {
	display: grid;
	.graph {
		position: relative;
		display: flex;
		align-items: flex-end;
		max-width: 100%;
		font-size: 11px;
		font-weight: normal;
		padding-bottom: 1.5em;
		overflow: hidden;
		.ps__rail-x {
			opacity: 1;
		}
		.ps__thumb-x {
			background: @coral-main-blue!important;
		}
		>* {
			flex: 0 0 @item-width;
			&:nth-child(n+2) {
				margin-left: 2px;
			}
		}
		.month-name {
			pointer-events: none;
			position: sticky;
			z-index: 1;
			left: 0;
			writing-mode: vertical-lr;
			font-weight: bold;
			color: black;
			transform: rotate(180deg);
			background: fade(white, 90%);
			inline-size: 20.5em;
			padding-top: 5.2em;
		}
		.item {
			display: flex;
			flex-direction: column;
			text-align: center;
			&:not(.unavailable) {
				cursor: pointer;
			}
			&:hover:not(.hidden) {
				box-shadow: inset 0 0 0 1px @coral-main-yellow;
				.bar .filler {
					color: black;
				}
			}
			&.instant {
				.bar .filler {
					background: @instant;
				}
			}
			&.confirm {
				.bar .filler {
					background: @confirm;
				}
			}
			&.unavailable {
				.bar .filler {
					background: @unavailable;
				}
			}
			&.hidden {
				.bar .filler {
					display: none;
				}
			}
			.bar {
				position: relative;
				height: 15em;
				.filler {
					position: absolute;
					left: 0;
					bottom: 0;
					width: 100%;
					line-height: (18/11);
					writing-mode: vertical-lr;
					transform: rotate(180deg);
					text-align: right;
					padding-bottom: .5em;
					background: #eee;
					color: transparent;
					.transit(color, .2s);
				}
			}
			.flight {
				font-family: "Material Icons";
				font-size: 1.5em;
				&.available:after {
					content: 'airplanemode_on';
					color: @coral-green-accent;
				}
				&.unavailable:after {
					content: 'airplanemode_off';
					color: @coral-red-error;
				}
			}
			.date {

			}
			.day-of-week.weekend {
				font-weight: bold;
			}
		}
	}
	ul.legend {
		display: grid;
		grid-template-columns: repeat(3, auto);
		grid-gap: 0 2em;
		list-style: none;
		margin: 0;
		padding: 1em;
		@media screen and (max-width: @narrow-breakpoint) {
			grid-template-columns: repeat(1, auto);
			padding: 1em 0;
		}
		>li {
			display: flex;
			align-items: center;
			line-height: 1;
			&:before {
				font-family: "Material Icons";
				content: 'poll';
				font-size: 1.5em;
				margin-right: .1em;
			}
			&.instant:before {
				color: @instant;
			}
			&.confirm:before {
				color: @confirm;
			}
			&.unavailable:before {
				color: @unavailable;
			}
		}
	}
}